<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>TagCloud Generator</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/jqcloud.css' %} />
    <script type="text/javascript" src={% static 'script/jquery-3.2.1.js' %}></script>
    <script type="text/javascript" src={% static 'script/jqcloud-1.0.4.js' %}></script>
    <script type="text/javascript">
        /*!
         * Create an array of word objects, each representing a word in the cloud
         */

        var word_array = {{ words | safe }}

        /*!
        var word_array = [
            {text: "Muscle", weight: 15},
            {text: "Smemo", weight: 9, link: "https://www.facebook.com/matteo.ripamonti.96"},
            {text: "Power", weight: 8, html: {title: "I can haz any html attribute"}},
            {text: "Sun", weight: 7},
            {text: "Archer", weight: 6}
            ];
         */

        $(function() {
            // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
            $("#example").jQCloud(word_array);
        });
    </script>
</head>
<!-- <body background="{% static 'jpg/marmo.jpg' %}"> -->
<!-- You should explicitly specify the dimensions of the container element -->
<div id="example""></div>
</body>
</html>